<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>



<div id="header" class="wrap">
    <img src="images/logo.gif" />
</div>
<DIV class="wrap" id="navbar" th:replace="header::header"></DIV>

<div id="message" class="box">
    <h2>提示信息</h2>
    <p>恭喜：维护成功！<br/><a href="login?pagenum=1">返回投票列表</a></p>
</div>
</div>
<div id="footer" class="wrap">
    北大青鸟 &copy; 版权所有
</div>
</body>
</html>